/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);*/

*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
a{
  color:#333;
  cursor: pointer;
}
a:hover,a:active,a:focus{
  text-decoration: none;
  outline: none;
}
a:hover{
  color:#6AB715;
}
button{
  border: none;
  outline: none;
}
p{
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
}
ul li{
  list-style: none;
}
input{
  outline: none;
}
img{
  max-width: 100%;
}
h1,h2,h3,h4,h5{
  line-height: normal;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #333333;
  line-height: 28px;
  background: #F5F5F5;
}

/*header*/
nav.menu{
  width: 100%;
  background: #000;
  background: #467FE7;
  height: 60px;
}
nav.menu .logo{
  margin-top: 10px;
  float: left;
}

.active-page{
  float: left;
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
}
.active-page-mb{
  text-align: center;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.active-page a{
  color:#fff;
  margin: 10px;
}
.right-action{
  height: 60px;
  float: right;
  line-height: 60px;
}
.right-action a{
  margin-left: 10px;
}
.nav-bt{
    width: 100%;
    background: #fff;
    height: 50px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1); 
    position: relative;
}
.nav-bt ul li{
  float: left;
  height: 50px;
  line-height: 50px;
}
.nav-bt ul li.active a{
  border-bottom: 3px solid #467FE7;
  color:#343434;
  font-weight: 600;
}
.nav-bt ul li a{
  height: 50px;
  display: inline-block;
  padding: 0 20px;
  color: #666;
}
.nav-bt ul li a:hover{
  font-weight: 600;
}
.avt-in-nav img{
  position: absolute;
  top: 5px;
  right: 15px;
  height: 40px;
  width: 40px;
  border:2px solid #fff;
  border-radius:50px;
}
.act-page{
  max-width: 200px;
  overflow: hidden;
  display: inline-block;
}
/*slide menu*/
.show-mn{
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
  line-height: 50px;
  border-radius:0px;
  padding-top: 15px;
  position: absolute;
  left: 0;
  border-right: 1px solid #d8d8d8;

}
.show-mn-2{
  padding-top: 0;
}
.show-mn-home{
  border: none;
}
.icon-bar{
  width: 25px;
  border-radius: 2px;
  height: 3px;
  display: inherit;
  background:#333;
  margin: 3px auto;
}

/*nmenu*/
.mm-menu.mm-offcanvas{
  background: #fff !important;
  top: 115px !important;
  border-right: 1px solid #E3E3E3;
  border-top: 1px solid #E3E3E3;
}
#mm-blocker{
  top: 115px !important;
}
.mm-slideout{
  top: 5px !important;
}
.mm-panel .mm-navbar{
  display: none !important;
}
.mm-panels>.mm-panel.mm-hasnavbar{
  padding-top: 20px !important;
}
.sld-mb li.active{
  background: #fafafa !important;
}

.sld-mb li.active a{
  font-weight: 600;
  border-left: 4px solid #467FE7;
}
.sld-mb li{
  border-bottom:1px solid #ccc;
  margin-bottom: 5px;
}
.menu-in-home li.active a {
    font-weight: 600;
    border-left: 4px solid #6ab715 !important;
}
/*content*/
.block-drop-cate{
  margin-bottom: -20px;
  margin-top: 10px;
}
.select-cate{
  width: 100%;
  background: #fff;
  border:1px solid #e3e3e3;
  outline: none;
  border-radius:3px;
  padding: 10px;
  display: inline-block;
  
}
.content-block{
  background: #fff;
  margin: 30px 0;
  width: 100%;
  min-height: 500px;
  display: inline-block;
  border:1px solid #E3E3E3;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  position: relative;
}
.side-common{
  float: left;
  background: #FAFAFA;
  width: 25%;
  height: 100%;
}
.side-common:after {
    box-shadow: inset -5px 0 5px -5px rgba(0,0,0,0.25);
    content: "";
    display: block;
    height: 100%;
    left: 24.6%;
    position: absolute;
    top: 0;
    width: 5px;
    z-index: 3;
}
.side-2{
  background: #fff;
}
.list-cd li{
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 20px;

}
.list-cd li.active,.list-cd li:hover{
  
  background: #ececec;
}
.list-cd li.active a,.list-cd li:hover a{

}
.list-cd li:last-child{
  border: none;
}
.right-common{
  float: right;
  width: 75%;
  background: #fff;
  padding: 20px;
}
.right-common h1{
  margin-top: 10px;
  font-size: 28px;
  margin-bottom: 30px;
}
.content-tab{
  padding: 20px 0;
}
.line-t-vd{
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color:#666;
  font-style: italic;

}
.n-b-video{
  float: right;
}
.video-more{
  padding: 3px 10px;
  background: #6AB715;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
  color:#fff;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  margin-left: 5px;
  letter-spacing: 1px;
}
.video-more:hover{
  color:#fff;
  background: #5A9D10;
}



/*bt tab*/
.l-lesson{
  width: 100%;
  display: inline-block;
}
.l-lesson a{
  float: left;
  border:1px solid #6AB715;
  padding: 3px 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.l-lesson li.active a{
  background: #6AB715;
  color:#fff;
}
.ls-active{
  width: 100%;
  /*display: inline-block;*/
  margin: 10px 0;
}
.n-1{
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  border:1px solid #d8d8d8;
  border-radius:3px;
  padding: 20px;
}
.n-1:last-child{
  margin-bottom: 0;
}
.n-1 h5{
  margin-top: 0;
  position: relative;
  padding-left: 40px;
}
.n-1 h5 span.nb-q{
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0;
  top: -3px;
  text-align: center;
  background: #6AB715;
  display: inline-block;
  color:#fff;
  border-radius:100px;
}
.n-1 .answer-block{
  padding-left: 40px;
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}
.asw-op-1 .radio-container{
  width: 50%;
  display: inline-block;
}
.asw-op-2 .radio-container{
  width: 50%;
  display: inline-block;
}
input[type=radio]{
  margin: 7px 0 0;
}
.n-1 .answer-block input[type="text"]{
  height: 40px;
  padding: 10px;
  border:2px solid #ada6a6;
  border-radius: 3px;
    max-width: 300px;
}
.button-line{
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
.bt-st-1{
  text-transform: uppercase;
  color:#fff;
  background: #6AB715;
  padding: 10px 50px;
  border-radius:3px;
  display: inline-block;
  margin-bottom: 30px;
}
.bt-st-1:hover{
  color:#fff;
  background: #5FA70F;
}



/*violympic*/
.block-info-user{
  padding: 15px;
}
.block-info-user a{
  font-weight: 600;
}
.block-info-user .avt{
  display: table-cell;
    vertical-align: top;
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.block-info-user span.email{
  font-size: 13px;
  color:#888;
}
.right-info{
  display: table-cell;
    vertical-align: top;
}
.top-usr{
  width: 100%;
  display: inline-block;
  border-top:1px solid #e3e3e3;
}
.top-usr h4{
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
}
.top-usr ul li{
  padding: 5px 15px;
  display: inline-block;
  width: 100%;
  border: none;
}
.top-usr ul li.top-me{
  background: #f3e5a2;
}
.top-usr ul li .n-top{
  float: left;
  background: url(../img/ic_top.png) no-repeat;
  -webkit-background-size: 30px;
  background-size: 30px;
  width: 30px;
  height: 40px;
  text-align: center;
  line-height: 27px;
  margin-right: 10px;
}
.top-usr ul li:nth-child(1) .n-top{
  background: url(../img/ic_top_1.png) no-repeat !important;
  -webkit-background-size: 30px !important;
  background-size: 30px !important;
  color:#fff;
}

.top-usr ul li:nth-child(2) .n-top{
  background: url(../img/ic_top_2.png) no-repeat !important;
  -webkit-background-size: 30px !important;
  background-size: 30px !important;
  color:#fff;
}
.top-usr ul li:nth-child(3) .n-top{
  background: url(../img/ic_top_3.png) no-repeat !important;
  -webkit-background-size: 30px !important;
  background-size: 30px !important;
  color:#fff;
}
.top-usr ul li .n-point{
  float: right;
}
/*top mb*/
.top-usr-mb{
  line-height: 28px !important;
}
.top-usr-mb h4{
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 400;
}
.top-usr-mb li{
  padding: 5px 15px !important;
  display: inline-block !important;
  width: 100%;
  border: none;
}
.top-usr-mb li a{
  padding: 0 !important;
}
.top-usr-mb li .n-top{
  float: left;
  background: url(../img/ic_top.png) no-repeat;
  -webkit-background-size: 30px;
  background-size: 30px;
  width: 30px;
  height: 40px;
  text-align: center;
  line-height: 27px;
  margin-right: 10px;
}
.top-usr-mb li:nth-child(2) .n-top{
  background: url(../img/ic_top_1.png) no-repeat;
  -webkit-background-size: 30px;
  background-size: 30px;
  color:#fff;
}

.top-usr-mb li:nth-child(3) .n-top{
  background: url(../img/ic_top_2.png) no-repeat;
  -webkit-background-size: 30px;
  background-size: 30px;
  color:#fff;
}
.top-usr-mb li:nth-child(4) .n-top{
  background: url(../img/ic_top_3.png) no-repeat;
  -webkit-background-size: 30px;
  background-size: 30px;
  color:#fff;
}
.top-usr-mb li .n-point{
  float: right;
}
/*content-vi*/
.selec-kh{
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.content-vi{
  background: #F9F9F9;
  border:1px solid #c9c9c9;
  display: inline-block;
  padding: 20px;
  width: 100%;
}
.alert-box{
  background: #EB5B52;
  text-align: center;
  color:#fff;
  padding: 30px 10px;
}
.bt-st-2{
  width: 49%;
  float: left;
  text-align: center;
  color:#fff;
  background: #467FE7;
  padding: 10px 20px;
  margin-top: 10px;
}
.bt-st-2:hover{
  color:#fff;
  background: #366CCE;
}
.bt-st-2:nth-child(2n){
  float: right;
}




/*vi2*/
.content-vi2{
  border:1px solid #D9D9D9;
}
.time-to-test{
  text-align: center;
  color:#467FE7;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
.select-cate2{
  background: #EEC31A;
    height: 30px;
    width: 80px;
    color: white;
    border-radius: 3px;
    border: none;
    overflow: hidden;
    padding: 0 10px;
    box-shadow: 5px;
    -webkit-appearance: none;
    outline: none;
}
.select-cate2 option{
  text-align: center;
}
.table-st-1{
  width: 100%;
  min-width: 800px;
  overflow:scroll;
}
.table-st-1 tr th{
  background: #F6F6F6;
  text-align: center;
  border-bottom:1px solid #D9D9D9;
  padding: 10px;
}
.table-st-1 tr td{
  text-align: center;
  padding: 20px 10px;
}

.table-st-1 tr th:nth-child(2),.table-st-1 tr td:nth-child(2){
  text-align: left;
}
.table-st-1 tr:nth-child(2n+1) td{
  background: #F3F7FF;
}


/*test*/
.content-test{
  background: #fff;
  padding: 30px;
  border:1px solid #E3E3E3;
  max-width: 900px;
  margin: 20px auto;
}
.title-test{
  background: #6AB715;
  padding: 20px;
  width: 100%;
  display: inline-block;
  border-radius:3px;
}
.title-test span{
  color:#fff;
}
.title-test span.c-n-test{
  float: left;
  margin-right: 10px;
}
.title-test span.c-t-test{
  float: right;
}
.time-down{
  position: fixed;
  right:0;
  bottom: 0;
  background: #EB5B52;
  color:#fff;
  text-align: center;
  padding: 10px 50px;
  font-size: 30px;
}



/*gioi thieu*/
.block-content-2{
  background: #fff;
  margin: 30px auto;
  width: 100%;
  border:1px solid #e3e3e3;
  min-height: 500px;
  padding: 30px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
}
.box-gt-1{
  border:2px dashed #e8e8e8;
  border-radius:4px;
  padding: 30px;
  text-align: center;
}
.box-gt-1 a{
  background: url(../img/ic_a_ar.png) no-repeat left;
  -webkit-background-size: 20px;
  background-size: 20px;
  padding-left: 35px;
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  font-weight: 600;

}
.box-gt-2{
  background: #F9F9F9;
  border:1px solid #d9d9d9;
  padding: 30px;
  text-align: center;
  margin: 30px 0;
  border-radius:4px;
}
.box-gt-2 h3{
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 60px;
}
.box-gt-2 h3 p{
  font-weight: 300;
  font-size: 24px;
  color:#666666;
  margin-top: 10px;
  text-transform: capitalize;

}
.cl-vi{
  width: 100%;
  display: inline-block;
}
.cl-vi a{
  width: 40%;
  margin-left:6%;
  float: left;
  color:#fff;
  font-size: 20px;
  background: #6AB715;
  margin-bottom:20px;
  height: 60px;
  line-height: 60px;
  position: relative;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  letter-spacing: 1px;
  padding-left: 30px;
}
.cl-vi a:hover{
  opacity: 0.8;
}
.cl-vi a:nth-child(2n){
  float: right;
  margin-right: 6%;
}
.cl-vi a.cl-3{
  background: #9013FE;
}
.cl-vi a.cl-3 span{
  background: #670BB8;
}
.cl-vi a.cl-4{
  background: #EB5B52;
}
.cl-vi a.cl-4 span{
  background: #CF3B32;
}
.cl-vi a.cl-5{
  background: #F5B030;
}
.cl-vi a.cl-5 span{
  background: #D99413;
}
.cl-vi a.cl-6{
  background: #467FE7;
}
.cl-vi a.cl-6 span{
  background: #2E5EB7;
}
.cl-vi a span{
  height: 60px;
  width: 60px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  background: #569612;

}

/*thao luan*/
.h-tit-2{
  border-bottom: 1px solid #e8e8e8;
  font-size: 24px;
  display: block;
  width: auto;
  margin: -30px -30px 10px -30px;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}
.h-tit-2 a{
  float: right;
  border-radius:3px;
  color:#fff;
  background: #6AB715;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  display: inline-block;
  font-size: 18px;
  margin-top: 10px;
  font-weight: normal;
}
.h-tit-2 a img{
  margin-right: 10px;
  margin-top: 12px;
  float: left;
}
.box-qs{
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 20px;
}
.box-qs:last-child{
  border: none;
}
.view-dt-qs{
  float: right;
  border:1px solid #6AB715;
  border-radius:3px;
  padding: 2px 15px;
}
.bl-qs-text{
  font-size: 14px;
  color: #666;
}
.bl-qs-text .user-name{
  color:#467FE7;
}
.bl-qs-text img{
  margin: 0 10px;
}


/*canhan*/
.box-course{
  width: 48%;
  float: left;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.box-course:nth-child(2n){
  float: right;
}
.bt-box-c{
  padding: 5px 15px 15px 15px;
  display: inline-block;
  width: 100%;
  height: 150px;
}
.bt-box-c .kg-crs{
  font-size: 13px;
  color:#888;
}
.if-line{
  border-top:1px solid #e8e8e8;
  padding: 10px 15px;
}
.if-line span.tit-if{
  color:#888;
  font-size: 13px;
  font-weight: 400;
}
.box-course h2{
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
  max-height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-asw{

}
.box-asw h4{
  font-weight: 600;
  margin-top: 30px;
}
.avt-tc{
  width: 8%;
  float: left;
}
.box-asw textarea{
  border:1px solid #ddd;
  text-align: left;
  padding: 10px;
  width: 90%;
  float: right;
  resize: vertical;
  min-height: 150px;
}

/*next*/
.cd-next-qs{
  width: 100%;
  display: inline-block;
  border:2px solid #f5a82a;
  border-radius:2px;
}
.cd-next-qs h4{
  margin-top: 0;
  height: 40px;
  line-height: 40px;
  background: #f5a82a;
  color:#fff;
  padding:0 20px;
  margin-bottom: 0;
}
.in-next{
  padding: 20px;
}

.in-next h5{
  margin-top: 0;
  position: relative;
  padding-left: 40px;
}

.ct-tab-3 table{
  width: 100%;
}
.ct-tab-3 table tr th{
  padding: 10px;
}
.ct-tab-3 table tr td{
  padding: 10px;
  border-bottom:1px dashed #e5e5e5;
}
.ct-tab-3 table tr td:last-child,.ct-tab-3 table tr th:last-child{
  text-align: right;
}
.ct-tab-3 table tr td img{
  margin-right: 10px;
}
.ct-tab-3 table tr td a.download{
  color:#6AB715;
  border:1px solid #ccc;
  padding: 3px 10px;
  border-radius:3px;
}
.ct-tab-3 table tr td a.download:hover{
  background: #6AB715;
  color:#fff;
  border-color:#6AB715;
}
.ct-tab-4 .top-usr{
  border:3px solid #6AB715;
  border-radius:4px;
  padding: 0 0 20px 0;
  max-width: 400px;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
  display: block;
  margin: 30px auto;


}


.top-usr ul li.top-me .n-top {
    float: left;
    background: url(../img/ic_top_other.png) no-repeat;
    -webkit-background-size: 30px;
    background-size: 30px;
    width: 30px;
    height: 40px;
    text-align: center;
    line-height: 27px;
    margin-right: 10px;

}
.out-top-me{
  border-top:2px solid #ccc;
}
.out-top-me h4 span{
  font-weight: bold;
  color:#6AB715;
}
.me-top{
  padding: 0 20px;
}
.out-top-me h4{
  margin-bottom: 0;
}
.me-top .n-point{
  float: right;
}
.me-top .n-top{
      float: left;
    background: url(../img/ic_top.png) no-repeat;
    -webkit-background-size: 30px;
    background-size: 30px;
    width: 30px;
    height: 40px;
    text-align: center;
    line-height: 27px;
    margin-right: 10px;
}
.ct-tab-4 .top-usr .n-point{
  font-weight: 700;
}
.tit-bxh{
  background: #6AB715;
  text-align: center;
  color:#fff;
  margin-top: 0;
}
/*footer*/
footer{
  background: #fff;
  border-top:1px solid #E3E3E3;
}
.bt-footer{
  text-align: center;
  background: #E5E5E5;
  padding: 10px 20px;
  font-size: 14px;
}
.social{
  float: right;
}
.social img{
  margin-left: 3px;
}
.t-1-bottom{
  width: 100%;
  display: inline-block;
  padding: 20px 0;
}
.t-1-bottom ul{
  float: left;
}
.t-1-bottom ul li{
  display: inline-block;
}
.t-1-bottom ul li a{
  font-weight: 600;
  margin-right: 30px;
}
.t-2-bottom{
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
.ct-1{
  float: left;
  width: 30%;
}




/*thumb*/
.thumb-common{
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  float: left;
}
.thumb-common img{
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  float: left;
  height: 100%;
}
.thumb-common .thumb-cm{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}





/*trang chu*/
.menu-2{
  width: 100%;
  height:50px;
  background:#6ab715;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}
.menu-2 li{
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}
.menu-2 li a{
  display: inline-block;
  height: 100%;
  width:100%;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.menu-2 li.active, .menu-2 li:hover{
background: #57990F;
}
.left-block{
  width: 70%;
  float: left;
}

/*slide*/
.slide-home{
  margin-bottom: 20px;
}
.hello-us{
  float: right;
  display: inline-block;
  margin-top: 15px;
}
.dropdown-menu{
  position: absolute;
  right: 0;
  left: auto;
}
.h-common{
  color: #343434;
  text-transform: uppercase;
  font-size: 20px;
  margin-top:0px;
  margin-bottom: 30px;
  position: relative;
  padding-right: 30px;
}
.h-common .more-1{
  position: absolute;
  right: 0;
}
.list-cou{
  width: 48%;
  float: left;
  border:1px solid #e7e7e7;
  background: #fff;
  border-top: 4px solid #EB5B52;
  padding: 15px;
  height: 100px;
  margin-bottom:20px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}
.list-cou:nth-child(2n){
  float: right;
}
.list-cou h5{
  margin-top: 0px;
  font-size: 16px;
}
.list-cou .t-open{
  font-size: 13px;
  color: #666;
}

/*color*/
.box-orange{
  border-top:4px solid #FA7824;
}
.box-green{
  border-top:4px solid #76C61A;
}
.box-blue{
  border-top:4px solid #4A90E2;
}
.box-yellow{
  border-top:4px solid #EEC31A;
}
.box-red{
  border-top:4px solid #FF5552;
}
.box-pink{
  border-top:4px solid #F74F7E;
}
.box-violet{
  border-top:4px solid #A85BEB;
}
.left-new{
  width: 50%;
  float: left;
  background: #fff;
      border: 1px solid #e7e7e7;
    margin-bottom: 20px;
       box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}
.left-new .des-1{
  color:#555;
  line-height: 24px;
}
.bt-new{
  padding: 15px;
}
.left-new h5{
margin-top: 10px;
display: inline-block;
font-size: 18px;
}
.right-new{
  width: 50%;
  float: right;
  padding-left: 20px;
}
/*bt*/
.modal-backdrop
{
 z-index: 1100;
}
.modal
{
 z-index: 1200;
}

#mdQs .modal-body input{
  width: 100%;
  border:1px solid #ddd;
  border-radius:2px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#mdQs .modal-body textarea{
  width: 100%;
  border:1px solid #ddd;
  height: 100px;
  border-radius:2px;
  resize: vertical;
  padding: 10px;
}
.modal-footer{
  border: none;
}

.header-2{
  background: #fff;
  padding: 20px 0;
}
.slogan{
  display: inline-block;
  font-style: italic;
  color: #666;
  margin-left: 20px;
}

.mt-nav-2{
  padding-top: 20px;
}

.box-common{
  border-radius:4px;
  width: 100%;
  display: inline-block;
  padding: 20px;
  background: #fff;
  border:1px solid #e7e7e7;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}
/* login form */
.o-form-mb{
  width: 100%;
  text-align: center;
}
.mb-login-form{
  max-width: 400px;
  display: inline-block;
}
.form-login{

  width: 100% ;
  border:2px solid #6AB715;
  
}
.login-pop{
  border: none;
  box-shadow: none;
}
.login-pop h3 a{
  float: none !important;
  margin-left: 30px;
}
.login-fb,.login-gg{
  background: #385da0;
  width: 48%;
  display: block;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  text-align: left;
  float: left;
  border-radius:4px;
  margin-top: 10px;
  -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
}
.login-gg{
  background: #e74c3c;
  float: right;
  
}
.login-fb:hover{
  color: #FFF;
  background: #22437D;
}
.login-gg:hover{
  color: #FFF;
  background: #D44637;
}
.login-fb i,.login-gg i{
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: left;
  border-right:1px solid #254784;
  text-align: center;
  margin-right: 10px;
  font-size: 20px;
}
.login-gg i{
  border-color:#c0392b;
}
.h-common-2{
  font-size: 20px;
  color: #222;
  text-align: left;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 20px;
}
.form-login h3 a{
  float: right;
  font-size: 15px;
  color: #6ab715;
}
.form-login h3 a:hover{
  color: #F7941E;
}

.form-login input[type=text],.form-login input[type=password]{
  border:1px solid #E0E0E0;
  border-radius:2px;
  width: 100%;
  padding: 8px 10px;
  display: inline-block;
  background: #f7f7f7;
  color: #222;
  font-size: 13px;
}
.re-and-log{
  width: 100%;
  text-align: left;
  margin: auto;
  display: inline-block;
  margin-bottom: 10px;
}
.re-and-log input{
  float: left;
  margin-top: 8px;
  margin-right: 5px;
}
.re-and-log span{
  float: left;
}
.bt-login{
  text-transform: uppercase;
  color: #FFF;
  border:none;
  border-radius:4px;
  background: #6AB715;
  padding: 8px 20px;
  width: 100%;
  -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;

}

.bt-login:hover{
  background: #F5A623;
}
a.link-change-pass{
  color: #222;
  font-size: 13px !important;
  float: right;
}


/*right block*/
.right-block{
  float: right;
  width: 28%;
}
.dk-block{
  border:2px solid #F5A623;
}
.dk-block input{
  border:1px solid #E0E0E0;
  border-radius:2px !important;
  -webkit-appearance: none;
  width: 100%;
  padding: 8px 10px;
  display: inline-block;
  background: #f7f7f7;
  color: #222;
  font-size: 13px;
}
select.sl-grade{
  border:1px solid #E0E0E0;
  border-radius:2px;
  width: 100%;
  padding: 8px 10px;
  height: 45px;
  display: inline-block;
  margin-bottom: 10px;
  background: #f7f7f7;
  color: #222;
  font-size: 13px;
  -webkit-appearance: none;
  outline: none;
}
.bt-1{
  width: 150px;
  background: #F5A623;
  text-transform: uppercase;
  border-radius:3px;
  color:#fff;
  padding: 8px 5px;
  -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    margin: 10px auto 20px auto !important;
    color:#fff !important;
    text-align: center;
    float: none;
}
.hello-mb{
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.bt-2{
  width: 100%;
  background: #F5A623;
  text-transform: uppercase;
  border-radius:3px;
  color:#fff;
  padding: 8px 5px;
  -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
}
.bt-2:hover{
  background: #F58F23;
}
.top-mn-info{
  text-align: center;
  padding-bottom: 10px !important;
}
.bt-3{
  display: inline-block !important;
  background: #F5A623;
  width: 100px;
  border-radius:3px;
  padding: 8px 10px !important;
  color:#fff !important;
}

.new-item{
  border-bottom:1px dashed #e3e3e3;
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
}
.new-item:last-child{
  border: none;
}
.new-item .thumb-common{
  width: 80px;
  float: left;
  display: table-cell;
}
.r-i-new{
  display: table-cell;
  padding-left: 10px;
}
.r-i-new h4{
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0px;
}
.r-i-new h4 a{
  font-size: 14px;
}
.r-i-new span.sub-span{
  font-size: 12px;
  color:#999;
  font-weight: 400;
}
.new-item .thumb-common img{
  width: 100%;
}
.more-1{
  float: right;
}
.more-1 img{
  width: 25px;
}
.bxslider3 li{
  text-align: center;
}
.bxslider3 li img{
  width: 100px;
  height: 100px;
  border-radius:200px;
  border:3px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  margin: auto;
}
.bxslider3 li span{
  color:#888;
}
.us-name-top{
  margin-bottom: 0;
}
.h-top{
  background: #F5A623;
  display: block;
  margin: -20px -20px 30px -20px;;
  height: 45px;
  line-height: 40px;
  text-align: center;
  color:#fff;
  border-radius:4px 4px 0 0;
}
.h-top img{
  margin-right: 10px;
  height: 30px;
}
.bx-wrapper{
  margin-bottom: 30px !important;
}
.bx-wrapper .bx-viewport{
  border: none;
  box-shadow: none !important;
  height: 180px !important;
}
.document-block h4{
  padding-left: 30px;
  position: relative;
}
.document-block h4 img{
  position: absolute;
  left: 0;
  top: 5px;
}
.document-block .sub-span{
  padding-left: 30px;
}


/*login page*/
.box-login-page{
  width: 400px;
  display: block;
  max-width: 100%;
  margin: 10px auto 50px auto;
}
.brc {
  width: 100%;
  display: block;
  margin-top: -20px;
  margin-bottom: 10px;
}

.brc a,.brc span{
  font-size: 13px;
  color:#666;
}
.brc i{
  font-size: 10px;
  margin: 0 10px;
}


/*news*/
.box-list{
  min-height: 500px;
}
.box-list .thumb-common{
  width: 200px;
}
.pag-common{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
.pag-common ul li{
  display: inline-block;
}
.pag-common ul li a{
  padding: 5px 10px;
  margin-right: 5px;
  border:1px solid #ccc;
  border-radius:2px;
}
.pag-common ul li.active a{
  color:#fff;
  font-weight: 600;
  background: #6ab715;
  border-color:#6ab715;
}


/*details news*/
.box-details-n{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 150px;
}
.box-details-n h1{
  margin-top: 10px;
  font-size: 28px;
}
.box-details-n p.des-n{
  font-weight: 600;
  color:#555;
}
.content-news{

}
.content-news img{
  max-width: 100%;
  display: block;
  margin: 30px auto;
  vertical-align: middle;
}

.bt-l-2{
  background: #FF5552;
  padding: 15px 10px;
  position: fixed;
  border-radius:2px 0 0 2px;
  top: 40%;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
  right: 0;
  letter-spacing: 1px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}
.bt-l-2:hover,.bt-l-2:focus{
  color:#fff;
  background: #e23b38;
}




/*history*/
.content-his{
  width: 100%;
  margin-top: 20px;
}
table.history{
      width: 100%;
    min-width: 800px;
    overflow: scroll;
}
table.history tr th{
  
}
table .v-dt{
  display: inline-block;
  border:1px solid #ccc;
  border-radius:2px;
  padding: 2px 10px;
}
table .v-dt:hover{
  color:#fff;
  border-color:#6AB715;
  background: #6AB715;
}
table.history tr td,table.history tr th{
  padding: 10px;
  text-align: center;
}
table.history tr:nth-child(2n){
  background: #f8f8f8;
}
table.history tr td:first-child,table.history tr th:first-child{
  text-align: left;
}
.n-wrong{
  border:2px solid #eb5b52;
  background: rgba(255, 194, 190, 0.29);
}
.n-wrong h5 span.nb-q{
  background: #eb5b52;
}
.cr-answer{
  display: block;
  margin-top: 10px;
}
.wrong-item{
  border:2px solid #eb5b52;
  width: 30px;
  height: 30px;
  border-radius:50px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  line-height: 26px;

}
.wrong-item i{
  color:#eb5b52;

}
.correct-item{
  border:2px solid #6ab715;
  width: 30px;
  height: 30px;
  border-radius:50px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  line-height: 28px;
}
.correct-item i{
  color:#6ab715;

}



/*phieu*/
.content-2{
  width: 660px;
  margin: 20px auto;
}
.content-2 .container{
  background: #fff;
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
  border-radius:4px;
}
.content-2 .container h1{
  text-align: center;
}.content-2 .container h1 p{
  font-size: 16px;
  font-weight: 400;
  color:#343434;
  margin-top: 10px;
  margin-bottom: 30px;
}
.ct-fieu{
  padding: 0 20px 30px 20px;
}
.ct-fieu img{

  display: block;
  margin: 20px auto;
  border-radius:4px;

  
}
.header-phieu{
  margin: 10px -15px;
  border-bottom: 1px solid #6ab713;
  padding: 5px 20px 10px 20px;
}
.c-p-1{
  margin-right: 30px;
  color:  #6ab713;
}
.c-p-2{
  color:  #f5a622;
}
.footer-phieu{
  text-align: center; 
  font-style: italic;
  border-top: 1px solid #ddd;
  padding: 15px 20px 40px 20px;
  margin: 0 -15px -15px -15px;
}
.num-ct{
  font-weight: 700;
  font-size: 18px;
}

/*invoice*/
.ct-invoice{
  padding: 20px;
}
.if-t-r-invoice{
  text-align: right;
}
.if-t-r-invoice p{
  font-size: 13px;
}
.ct-invoice .row{
  padding: 20px;
}
.dt-invoice{
  width: 100%;
  border:1px solid #ccc;
  margin-top: 20px;
}
.dt-invoice tr td,.dt-invoice tr th{
  padding: 10px;
  text-align: center;
}
.total-iv td{
  font-weight: 600;
}
.total-iv td:last-child{
  color:#6ab713;
  font-size: 18px;
}
.note-iv{
  font-style: italic;
  display: inline-block;
  width: 100%;
  color:#666;
  margin-top: 20px;
}
.thanks-iv{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.dt-invoice tr:nth-child(2n) td{
  background: #f5f5f5;
}
.if-r-iv p{
  font-size: 13px;
}
.head-iv span{
  font-size: 13px;
}

.h-tax{
  text-align: center;
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-weight: 700;
}

.child-brc{
  width: 100%;
  display: inline-block;
}
.child-brc a{
  font-size: 13px;
  color:#666;
}
.child-brc span{
  color:#666;
  margin: 0 10px;
}



/*latex*/

  .latex{
    display: inline-block !important;
  }
/*mmenu*/
#menu:not( .mm-menu ) {
   display: none;
}